/*
 * ---------------------------------------------------------------------------------------
 * typography.scss
 * ---------------------------------------------------------------------------------------
 */

@font-face {
  font-family: "roboto-condensed";
  src: url("/assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "neuropol";
  src: url("/assets/fonts/neuropol x rg.ttf") format("truetype");
}

@font-face {
  font-family: "outerspace-militia";
  src: url("/assets/fonts/OuterspaceMilitia.ttf") format("truetype");
}



